<td class="is-light">{{no+1}}</td>
<td class="is-light" [innerHTML]="message.message_key | lineBreak"></td>
<td class="is-light" [innerHTML]="message.ja | lineBreak"></td>
<!--<td class="editable" (input)="jaStream.next($event)">-->
<!--<textarea>{{message.ja }}</textarea>-->
<!--</td>-->
<td class="editable">
  <textarea (input)="enStream.next($event)">{{message.en }}</textarea>
</td>
<td class="editable">
  <textarea (input)="finalStream.next($event)">{{message.final }}</textarea>
</td>
<!--<td class="is-light">{{message.code_file ? message.code_file.name : ""}}</td>-->
<td class="is-light">{{message.resource_file ? message.resource_file.name : ""}}</td>
<td class="editable">
  <textarea (input)="viStream.next($event)">{{message.vi }}</textarea>
</td>
<td [class.need-customer-support]="message.customer_support">
  <input (change)="updateCustomerSupport($event)" type="checkbox" [checked]="message.customer_support">
</td>
<td>
  <button (click)="deleteMessage()" class="button is-warning">Delete</button>
</td>

