<td class="is-light">{{no}}</td>
<td contenteditable (keyup)="setMessageKey($event)">{{message.message_key}}</td>
<td contenteditable>{{message.ja}}</td>
<td contenteditable>{{message.en}}</td>
<td contenteditable>{{message.final}}</td>
<td class="is-light">{{message.code_file ? message.code_file.name : ""}}</td>
<td class="is-light">{{message.resource_file ? message.resource_file.name : ""}}</td>
<td contenteditable>{{message.vi}}</td>
<td class="is-light">{{message.updated_by}}</td>
<td class="is-light">{{message.updated_at | date:'shortDate'}}</td>
<td class="is-light">{{message.created_at | date:'shortDate'}}</td>

