<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      XML Validate Tool
    </a>
    <div (click)="toggleNavBar()" class="burger navbar-burger" [class.is-active]="mobileNavBar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" [class.is-active]="mobileNavBar">
    <div class="navbar-start">
      <a routerLink="/codefile" class="navbar-item">Code File</a>
      <a routerLink="/resource-file" class="navbar-item">Resource File</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        XML Validate Tool
      </h1>
      <h2 class="subtitle">
        Simple web app to input language messages
      </h2>
    </div>
  </div>
</section>
